# set default password for all service 

DEFAULT_PASS='openstack'
RABBIT_PASS="$DEFAULT_PASS"
MYSQL_ADMIN_PASS="$DEFAULT_PASS"
KEYSTONE_DBPASS="$DEFAULT_PASS"


ADMIN_TOKEN=5826951ab1d9d4130679

SERVICE_TENANT_NAME="service"
ADMIN_TENANT_NAME="admin"
TEST_TENANT_NAME="test"

ADMIN_USER_NAME="admin"
ADMIN_ROLE_NAME="admin"

HOST_NAME="controller"
HOST_IP="192.168.126.143"
HOST_GATEWAY="192.168.126.1"
LOCAL_IP="192.168.121.143"

ADMIN_PASS="$DEFAULT_PASS"
GLANCE_DBPASS="$DEFAULT_PASS"
GLANCE_PASS="$DEFAULT_PASS"
NOVA_DBPASS="$DEFAULT_PASS"
NOVA_PASS="$DEFAULT_PASS"
DASH_DBPASS="$DEFAULT_PASS"
CINDER_DBPASS="$DEFAULT_PASS"
CINDER_PASS="$DEFAULT_PASS"